@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf)
}

:root {
    --dark: #0253af;
    --light: #f8dae7;
    --yellow: #efdd53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
  }
  
  .side-hero {
    grid-area: hero;
    background-image: url(image_files/buckets.jpeg);
    height: 100vh;
    background-size: cover;
    width: 30vw;
  }

  .title {
    background-color: var(--dark);
    opacity: 0.5;
    margin: 15vh 0 0 0;
    padding: 0 50px;

    text-align: right;
    color: var(--yellow);
    font-family: NorseBold;
    font-weight: bold;
    font-size: 3rem;
  }

  .logo {
    height: 3rem;
    width: auto;
    color: var(--yellow);
    padding: 12px 0 0 12px;
  }

  /* styling right side */
 .main-content {
    color: #3f3f3f;
    background-color: var(--light);
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 70vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sign-up-header {
    text-align: left;
    background-color: var(--yellow);
    border: 1px solid #cef84f;
    border-radius: 3px;
    
    width: 80%;
    margin: 40px 0;
    padding: 50px;
  }
  
  .form-content {
    background-color: var(--yellow);
    border: 1px solid #cef84f;
    border-radius: 3px;
    
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
  }

  /* form styling */
  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='password'],
  .form-row input[type='tel'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  /* button styles */
  .form-row label {
    margin-bottom: 15px;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: var(--light);
    background-color: var(--dark);
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }


  @media only screen and (min-width: 700px) {
    .form-row {
      flex-direction: row;
      align-items: flex-start; /* To avoid stretching */
      margin-bottom: 20px;
    }
    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row input[type='tel'],
    .form-row input[type='password'] {
      width: 180px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }