@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf)
}

:root {
    --dark: #0253af;
    --light: #f8dae7;
    --light-shadow: #a56882;
    --yellow: #efdd53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--light);
  }
  
  .side-hero {
    background-image: url(image_files/buckets.jpeg);
    height: 100vh;
    background-size: cover;
    width: 30vw;
    background-repeat: repeat;
  }

  .title {
    background-color: var(--dark);
    opacity: 0.7;
    margin: 15vh 0 0 0;
    padding: 0 50px;

    text-align: right;
    color: var(--yellow);
    font-family: NorseBold;
    font-weight: bold;
    font-size: calc(30% + 2rem);
  }

  .logo {
    height: 3rem;
    width: auto;
    color: var(--yellow);
    padding: 12px 0 0 12px;
  }

  /* styling right side */
 .main-content {
    color: #3f3f3f;
    background-color: var(--light);
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 70vw;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sign-up-header {
    text-align: left;
    width: 80%;
    height: 35vh;
    padding: 40px 0 10% 40px;
  }
  
  .form-content {
    background-color: var(--light);
    box-shadow: 5px 10px 10px var(--light-shadow);
    width: 99%;
    padding-left: 60px;

    font-family:  "Helvetica", "Arial", sans-serif;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 80px;
  }

  h1 {
    margin: 0 60px;
    padding-bottom: 2rem;
    text-align: left;
    font-size: 18px;
    flex-grow: 6;
  }

  /* form styling */
  .form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='password'],
  .form-row input[type='tel'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 200px;
    padding: 7px;
    font-size: 16px;
  }

  input:invalid {
    background-color: var(--yellow);
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }
  
  /* button styles */
  .form-row label {
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: var(--light);
    background-color: var(--dark);
    box-shadow: 5px 10px 10px var(--light-shadow);
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
    margin: 60px;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

  /* 
  @media only screen and (min-width: 700px) {
    .form-row {
      flex-direction: row;
      align-items: flex-start; 
      margin-bottom: 20px;
    }
    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row input[type='tel'],
    .form-row input[type='password'] {
      width: 180px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

 */