@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf)
}

:root {
    --dark: #596D48;
    --light: #E5E7EB;
    --light-shadow: #929394;
    --yellow: #efdd53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--light);
  }
  
  .side-hero {
    background-image: url(image_files/buckets.jpeg);
    height: 100vh;
    background-size: cover;
    width: 35vw;
    background-repeat: repeat;
  }

  .title-box {
    background: rgba(41, 42, 53, 0.8);
    margin-top: 21vh;
    padding: 25px 40px 25px 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: right;
    color: white;
    font-family: NorseBold;
    font-weight: bold;
    font-size: 5rem;
  }

  .logo {
    height: 6rem;
    width: auto;
    padding: 0 8px 12px 8px;
  }

  /* styling right side */
 .main-content {
    color: #3f3f3f;
    background-color: #f4f6fa;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 70vw;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  p {
    margin-bottom: 25px;
  }

  .sign-up-header {
    text-align: left;
    width: 80%;
    height: 35vh;
    padding: 40px 0 0 60px;
    
  }
  
  .form-content {
    background-color: var(--light);
    box-shadow: 5px 10px 10px var(--light-shadow);
    width: 99%;
    padding-left: 40px;

    font-family:  "Helvetica", "Arial", sans-serif;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 80px;
  }
  .form-wrapper {
    background-color: var(--light);
    padding-top: 20px;
  }

  h1 {
    margin: 0 60px;
    padding-bottom: 2rem;
    text-align: left;
    font-size: 18px;
  }

  /* form styling */
  .form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='password'],
  .form-row input[type='tel'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 200px;
    padding: 7px;
    font-size: 16px;
  }

  input:invalid {
    background-color: var(--yellow);
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

  input:focus {
    background-color: antiquewhite;
    border: none;
    outline: 1px solid teal;
    transition: all 0.3s ease;
  }

  /* button styles */
  .form-row label {
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: var(--light);
    background-color: var(--dark);
    box-shadow: 5px 10px 10px var(--light-shadow);
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
    margin: 40px;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

  footer {
    font-size: 12px;
    padding: 0 0 40px 40px;
  }
  /* 
  @media only screen and (min-width: 700px) {
    .form-row {
      flex-direction: row;
      align-items: flex-start; 
      margin-bottom: 20px;
    }
    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row input[type='tel'],
    .form-row input[type='password'] {
      width: 180px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

 */